# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# KiCAD related ignores
*-bak
*.bak
*.bck
_autosave*

# Firmware related ignores
*.elf
*.bin
*.o
*.dep
firmware/groundstation/build/

*~

*.*~
